<!-- <div class="nav-info">

</div> -->
<!-- 
<div class="nav-main clearfix">
    <div class="nav-menu clearfix">
        <ul class="nav-list clearfix">
            <li>
                <a href="">
                    <i class="fa-solid fa-house"></i> Tổng Quan
                </a>
            </li>
            <li>
                <a href="" class="items">
                    <i class="fa-solid fa-chart-column"></i> Mặt Hàng
                    <i style="font-size: x-small;" class="fa-solid fa-chevron-down"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="">Thời Trang</a></li>
                    <li><a href="">Điện Tử</a></li>
                    <li><a href="">Gia Đình</a></li>
                    <li><a href="">Bách Hoá</a></li>
                    <li><a href="">Đồ chơi</a></li>
                    <li><a href="">Thư Viện</a></li>
                    <li><a href="">Sức Khoẻ</a></li>
                </ul>
            </li>

            <a routerLink="/recommend">
                <li>Đề Xuất</li>
            </a>

        </ul>
    </div>
</div> -->




<div class="chart-container clearfix d-flex ">
    <div id="totalChart" class="chart">
        <div class="d-flex justify-content-between">
            <h4>Biểu Đồ Tổng Doanh Thu Trong 5 Tháng Qua</h4>
            <button class="detailButton" onclick="toggleCharts()">Xem Chi Tiết</button>
        </div>
        <canvas id="LinechartTotal"></canvas>
    </div>
    <div id="detailChart" class="chart" style="display:none;">
        <div class="d-flex justify-content-between">
            <h4>Biểu Đồ Doanh Thu Trong 5 Tháng Qua</h4>
            <button class="detailButton" onclick="toggleCharts()">Xem Chi Tiết</button>
        </div>
        <canvas id="Linechart"></canvas>
    </div>

    <div class="d-flex justify-content-between">
        <div class="chart-inline">
            <h4>Biểu Đồ Tỷ Suất Bán Hàng Trong 5 Tháng Qua</h4>
            <canvas id="barchart"></canvas>
        </div>
        <div class="chart-inline">
            <h4>Biểu Đồ Tỷ Suất Bán Hàng Trong 5 Tháng Qua</h4>
            <canvas id="dougnhnutchart"></canvas>
        </div>
    </div>
</div>

<div class="tb-container d-flex">
    <table>
        <tr>
            <th>STT</th>
            <th>Mặt Hàng</th>
            <th>Doanh Thu Dự Kiến Trong 3 Tháng</th>
        </tr>
        <tr *ngFor="let item of marketList, let i = index">
            <td>{{i+1}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.average_revenue | currency}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>
                Địa Chỉ Cung Cấp
            </th>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>

    </table>
</div>


<div style="height: 20px;"></div>

<div class="footer clearfix">
    <p style="text-align: center;"> Copyright © PMA DevFest 2023. </p>
</div>