<!-- <div class="nav-info">

</div> -->

<div class="nav-main clearfix">
    <div class="nav-menu clearfix">
        <ul class="nav-list clearfix">
            <li>
                <a href="">
                    <i class="fa-solid fa-house"></i> Tổng Quan
                </a>
            </li>
            <li>
                <a href="" class="items">
                    <i class="fa-solid fa-chart-column"></i> Mặt Hàng
                    <i style="font-size: x-small;" class="fa-solid fa-chevron-down"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="">Thời Trang</a></li>
                    <li><a href="">Điện Tử</a></li>
                    <li><a href="">Gia Đình</a></li>
                    <li><a href="">Bách Hoá</a></li>
                    <li><a href="">Đồ chơi</a></li>
                    <li><a href="">Thư Viện</a></li>
                    <li><a href="">Sức Khoẻ</a></li>
                </ul>
            </li>

            <a routerLink="/recommend"><li>Đề Xuất</li></a>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
        </ul>
    </div>
</div>


<table>
    <tr>
       <th>STT</th>
       <th>Mat hang</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>